
<div class="container" style="margin-bottom:30px">
    <script>
    var vcap = @Html.Raw(ViewBag.Json);
        
        var services = ["filesystem-1.0", "harbor-1.0", "memcached-1.4", "mongodb-2.4", "mysql-5.5", "postgresql-9.1", "rabbitmq3-3.1", "mssql2014", "redis-2.8"];
        $(function () {
            $(".collapsediv").hide();
            $.each(services, function( i, v ) {
                var escaped_id = v.replace( /(:|\.|\[|\]|,)/g, "\\$1" );
                if(vcap[v]){
                    $("#buttons").append("<button id='"+escaped_id+"' class='btn btn-success togglebtn' type='button'>"+v+"</button>");
                    $("#"+escaped_id+"_div").find("div.off").hide();
                    $("#"+escaped_id+"_div").find("div.on").append("<pre>"+JSON.stringify((vcap[v])[0],null, "\t")+"</pre>");
                }
                else{
                    $("#buttons").append("<button id='"+escaped_id+"' class='btn btn-default togglebtn' type='button'>"+v+"</button>");
                    $("#"+escaped_id+"_div").find("div.on").hide();
                }
            });

            $('.togglebtn').bind('click', function () {
                $(".collapsediv").hide();
                var target_id = this.id;
                $("#" + target_id + "_div").slideDown();

            });
        });
    </script>
    <h2>ALS Services<span style="padding-left:10px;font-size:.6em">(these are built into Cloud Foundry and enabled by your admin)</span></h2>
    <div id="buttons">

    </div>
    <div class="collapsediv" id="filesystem-1.0_div">
        <div class="well on">

        </div>
        <div class="well off">
            <div class="alert alert-warning" role="alert">This service was not provisioned during the microcloud creation process.  Create this service using the <a href="http://docs.hpcloud.com/#devplatform/1.3/helion/CLI/cfmgmt_growcluster_addservice.html">cf-mgmt tool</a>.</div>
            <p>To create an instance of the filesystem service, execute the  commands below in the directory containing the your app:</p>
            <pre>helion
                create-service filesystem dotnet-starter-filesystem dotnet-starter
            </pre>
            <p>You can also uncomment the following in the manifest.yml and push the app again.</p>
            <pre>${name}-filesystem:<br />
                &nbsp;&nbsp;type: filesystem
            </pre>
            <p>After the steps above, deploy the app and refresh this page. </p>
            <pre>helion
                push --stack win2012r2
            </pre>
        </div>
    </div>
    <div class="collapsediv" id="harbor-1.0_div">
        <div class="well on">
        </div>
        <div class="well off">
            <div class="alert alert-warning" role="alert">This service was not provisioned during the microcloud creation process.  Create this service using the <a href="http://docs.hpcloud.com/#devplatform/1.3/helion/CLI/cfmgmt_growcluster_addservice.html">cf-mgmt tool</a>.</div>
            <p>To create an instance of the harbor port service, execute the  commands below in the directory containing the your app:</p>
            <pre>helion
                create-service harbor dotnet-starter-harbor dotnet-starter
            </pre>
            <p>You can also uncomment the following in the manifest.yml and push the app again.</p>
            <pre>
                ${name}-harbor:<br />
                &nbsp;&nbsp;type: harbor
            </pre>
            <p>After the steps above, deploy the app and refresh this page. </p>
            <pre>helion
                push --stack win2012r2
            </pre>
        </div>
    </div>
    <div class="collapsediv" id="memcached-1.4_div">
        <div class="well on">
        </div>
        <div class="well off">
            <div class="alert alert-warning" role="alert">This service was not provisioned during the microcloud creation process.  Create this service using the <a href="http://docs.hpcloud.com/#devplatform/1.3/helion/CLI/cfmgmt_growcluster_addservice.html">cf-mgmt tool</a>.</div>
            <p>To create an instance of the memecached service, execute the  commands below in the directory containing the your app:</p>
            <pre>helion
                create-service memcached dotnet-starter-memcached dotnet-starter
            </pre>
            <p>You can also uncomment the following in the manifest.yml and push the app again.</p>
            <pre>
                ${name}-memcached:<br />
                &nbsp;&nbsp;type: memcached
            </pre>
            <p>After the steps above, deploy the app and refresh this page. </p>
            <pre>helion
                push --stack win2012r2
            </pre>
        </div>
    </div>
    <div class="collapsediv" id="mongodb-2.4_div">
        <div class="well on">
            
        </div>
        <div class="well off">
            <div class="alert alert-warning" role="alert">This service was not provisioned during the microcloud creation process.  Create this service using the <a href="http://docs.hpcloud.com/#devplatform/1.3/helion/CLI/cfmgmt_growcluster_addservice.html">cf-mgmt tool</a>.</div>
            <p>To create an instance of the mongo service, execute the  commands below in the directory containing the your app:</p>
            <pre>helion
                create-service mongodb dotnet-starter-mongodb dotnet-starter
            </pre>
            <p>You can also uncomment the following in the manifest.yml and push the app again.</p>
            <pre>
                ${name}-mongodb:<br />
                &nbsp;&nbsp;type: mongodb
            </pre>
            <p>After the steps above, deploy the app and refresh this page. </p>
            <pre>helion
                push --stack win2012r2
            </pre>
        </div>
    </div>
    <div class="collapsediv" id="mysql-5.5_div">
        <div class="well on">

        </div>
        <div class="well off">
            <div class="alert alert-success" role="alert">This service was created during the microcloud creation process. The steps below will make it available for your app.</div>
            <p>To create an instance of the mysql service, execute the  commands below in the directory containing the your app:</p>
            <pre>helion
                create-service mysql dotnet-starter-mysql dotnet-starter
            </pre>
            <p>You can also uncomment the following in the manifest.yml and push the app again.</p>
            <pre>
                ${name}-mysql:<br />
                &nbsp;&nbsp;type: mysql
            </pre>
            <p>After the steps above, deploy the app and refresh this page. </p>
            <pre>helion
                push --stack win2012r2
            </pre>
        </div>
    </div>
    <div class="collapsediv" id="postgresql-9.1_div">
        <div class="well on">
        </div>
        <div class="well off">
            <div class="alert alert-warning" role="alert">This service was not provisioned during the microcloud creation process.  Create this service using the <a href="http://docs.hpcloud.com/#devplatform/1.3/helion/CLI/cfmgmt_growcluster_addservice.html">cf-mgmt tool</a>.</div>
            <p>To create an instance of the postgres service, execute the  commands below in the directory containing the your app:</p>
            <pre>helion
                create-service postgresql dotnet-starter-postgresql dotnet-starter
            </pre>
            <p>You can also uncomment the following in the manifest.yml and push the app again.</p>
            <pre>
                ${name}-postgresql:<br />
                &nbsp;&nbsp;type: postgresql
            </pre>
            <p>After the steps above, deploy the app and refresh this page. </p>
            <pre>helion
                push --stack win2012r2
            </pre>
        </div>
    </div>
    <div class="collapsediv" id="rabbitmq3-3.1_div">
        <div class="well on">
        </div>
        <div class="well off">
            <div class="alert alert-warning" role="alert">This service was not provisioned during the microcloud creation process.  Create this service using the <a href="http://docs.hpcloud.com/#devplatform/1.3/helion/CLI/cfmgmt_growcluster_addservice.html">cf-mgmt tool</a>.</div>
            <p>To create an instance of the rabbit service, execute the  commands below in the directory containing the your app:</p>
            <pre>helion
                create-service rabbitmq3 dotnet-starter-rabbitmq3 dotnet-starter
            </pre>
            <p>You can also uncomment the following in the manifest.yml and push the app again.</p>
            <pre>
                ${name}-rabbitmq3:<br />
                &nbsp;&nbsp;type: rabbitmq3
            </pre>
            <p>After the steps above, deploy the app and refresh this page. </p>
            <pre>helion
                push --stack win2012r2
            </pre>
        </div>
    </div>
    <div class="collapsediv" id="mssql2014_div">
        <div class="well on">
        </div>
        <div class="well off">
            <div class="alert alert-success" role="alert">This service was created during the microcloud creation process. The steps below will make it available for your app.</div>
            <p>To create an instance of the sql server service, execute the  commands below in the directory containing the your app:</p>
            <pre>helion
                create-service mssql2014 dotnet-starter-mssql2014 dotnet-starter
            </pre>
            <p>You can also uncomment the following in the manifest.yml and push the app again.</p>
            <pre>
                ${name}-mssql2014:<br />
                &nbsp;&nbsp;type: mssql2014
            </pre>
            <p>After the steps above, deploy the app and refresh this page. </p>
            <pre>helion
                push --stack win2012r2
            </pre>
        </div>
    </div>
    <div class="collapsediv" id="redis-2.8_div">
        <div class="well on">
        </div>
        <div class="well off">
            <div class="alert alert-warning" role="alert">This service was not provisioned during the microcloud creation process.  Create this service using the <a href="http://docs.hpcloud.com/#devplatform/1.3/helion/CLI/cfmgmt_growcluster_addservice.html">cf-mgmt tool</a>.</div>
            <p>To create an instance of the redis service, execute the  commands below in the directory containing the your app:</p>
            <pre>helion
                create-service redis dotnet-starter-redis dotnet-starter
            </pre>
            <p>You can also uncomment the following in the manifest.yml and push the app again.</p>
            <pre>
                ${name}-redis:<br />
                &nbsp;&nbsp;type: redis
            </pre>
            <p>After the steps above, deploy the app and refresh this page. </p>
            <pre>helion
                push --stack win2012r2
            </pre>
        </div>
    </div>
    <h2>User-Provided Services<span style="padding-left:10px;font-size:.6em">(these are externally provisioned and enabled)</span></h2>
    <div id="buttons">

    </div>

</div>
