@{
    ViewBag.Title = "Index";
}
<div class="container">


    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">

            <div class="active item">
                <div class="container">
                    <div class="row">

                        <div class="span6">

                            <div class="carousel-caption">
                                <h1>Congratulations!</h1>
                                <p class="lead">You've deployed your first app. Keep reading to learn what tools and frameworks are available for you to use with this app.  As you are building the app, you can keep the header around as a handy reminder on how to add app services.  </p>
                            </div>

                        </div>

                        <div class="span6"> <img src="img/dotnet.png"></div>
                    </div>
                </div>




            </div>



        </div>

    </div>
    <!-- Feature
      ==============================================-->


    <div class="row feature-box">
        <div class="span12 cnt-title">
            <h1>Use this app as a starting point</h1>
            <span>Open the solution in Visual Studio to see what you've got to work with</span>
        </div>

        <div class="span4">
            <img src="img/web.png">
            <h2>Web role</h2>
            <p>
              This solution comes with an ASP.NET MVC 4 project with a few views, controllers, and routes set up.  It's almost a blank template.
            </p>
            <a href="#">Read More →</a>

        </div>

        <div class="span4">
            <img src="img/worker.png">
            <h2>Worker service</h2>
            <p>
               The Worker.svc component runs in the background.  Test your service with the TestClient console app but don't forget to update the app.config.
            </p>
            <a href="#">Read More →</a>
        </div>

        <div class="span4">
            <img src="img/config.png" style="height:81px; width:auto">
            <h2>Manifest</h2>
            <p>
                The manifest.yml file describes the resources used by the app, including staging hooks to add custom deployment steps.
            </p>
            <a href="#">Read More →</a>
        </div>
    </div>


    <!-- /.Feature -->

    <div class="hr-divider"></div>

    <!-- Row View -->



</div>
