<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003"><PropertyGroup><CFUser>sam.gazitt@hp.com</CFUser><CFPassword /><CFSavedPassword>true</CFSavedPassword><CFRefreshToken /><CFServerUri>https://api.15.126.233.28.xip.io/</CFServerUri><CFAppName>dotnet-starter-app</CFAppName><CFOrganization>org1</CFOrganization><CFSpace>default</CFSpace><CFAppMemory>512</CFAppMemory><CFAppInstances>1</CFAppInstances><CFStack>win2012r2</CFStack><CFRoutes>dotnet-starter-app.15.126.233.28.xip.io</CFRoutes><CFServices /><CFConfigurationFile /><DeployTargetFile /><CFLocalBuild>true</CFLocalBuild><WebPublishMethod>CloudFoundry</WebPublishMethod><CFMSBuildConfiguration /><CFMSBuildPlatform /><CFSkipSSLValidation>true</CFSkipSSLValidation></PropertyGroup></Project>