<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWorker" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dotnet-starter.15.126.233.28.xip.io/Worker.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorker"
                contract="IWorker" name="BasicHttpBinding_IWorker" />
        </client>
    </system.serviceModel>
</configuration>